html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 14px;
  }
    .scroll-btn {
        visibility: hidden;
    }

}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.calendar td, th {
    padding-left: 10px;
}

.yearly-calendar td, th {
    padding-left: 10px;
}

.holi_day {
    color: red;
    text-align: right;
    padding-left: 2px !important;
    padding-right: 2px !important;
}

.normal_day {
    color: grey;
    text-align: right;
    padding-left: 2px !important;
    padding-right: 2px !important;
}

.calendar-cell {
    border: 1px solid #ddd;
    height: 50px; /* Ajusta la altura según tus necesidades */
    display: flex;
    align-items: center;
    justify-content: center;
}

.superSmall {
    font-size: 11px !important;
    line-height:1.1;
}
.small-gap {
    line-height: 0.1;
    margin: 0;
    padding: 0;
}

.padle-1 {
    padding-left:1em;
}
.ntop-1 {
    margin-top: -1rem !important;
}
.ntop-125 {
    margin-top: -1.25rem !important;
}

@media (max-width: 576px) {
    .superSmall {
        font-size: 8px !important;
    }

    .ntop-1 {
        margin-top: 0.25rem !important;
    }

    .ntop-125 {
        margin-top: 0.1rem !important;
    }

    .col-auto {
        width: auto !important;
    }
    .padle-1 {
        padding-left: 0.25em;
    }
}

.clocks-container {
    overflow: hidden; /* Ocultar la barra de scroll */
    white-space: nowrap; /* Evitar que los elementos se envuelvan */
    scroll-behavior: smooth; /* Desplazamiento suave */
    max-width: 80%; /* Ajustar el ancho del contenedor */
}

.scroll-btn {
    font-size: 1.5rem;
    cursor: pointer;
    padding: 0.5rem 1rem;
}

.left-btn {
    margin-right: 0.5rem;
}

.right-btn {
    margin-left: 0.5rem;
}

